#userIcon {
    font-size: 35px;
    color: #0C1823;
    text-align: right;
    margin-left: 1350px;

    justify-content: right;
    margin-left: 950px;
}



#cartIcon {
    font-size: 33px;
    color: #0C1823;
    width: 10px;

}

h5.titulo {
    color: #1B2631;


}

p.subtitulo {
    color: #4D5656;
}


#audio-container {
    display: none;
}

.navbar-nav .nav-link:active {
    font-weight: bold;

}

#h2Titulo {
    color: #ffffff;
}

ul.navbar-nav {
    background-color: #4072A4;
}

a.navbar-brand {
    background-color: #2775C3;
}

body {
    background-color: #F4F6F7;
}

h2.seccion {
    text-align: center;
}