#userIcon,
#cartIcon {
    color: #2e2b2b;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    /* margin: auto; */

}

h5.titulo {
    color: #1B2631;


}

p.subtitulo {
    color: #4D5656;
}

/* Header navbar */

.navbar {
    background-color: #d475ad;

}

.navbar-nav .nav-link .bi {

    font-size: 1.0rem;

}

.nav-item.d-flex {
    margin-left: 10px;
    width: 20%;
}

.navbar-nav .nav-link:active {
    font-weight: bold;

}

/* Header Navbar */

#h2Titulo {
    color: #ffffff;
}




.carousel {
    background-color: #D6DBDF;
}

h3.seccion {
    text-align: center;
    font-family: Century Gothic;
    font-weight: bold;
}

div.card {
    background-color: #EAF2F8;

}

div.col {
    background-color: #EBF5FB;
}

p.card-text {
    text-align: left;
    line-height: 30px;
}

h5.card-text2 {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}