#user {
    font-size: 35px;
    color: #f00;
    text-align: right;
    justify-content: right;
    margin-left: 1350px;
}



#carrito {
    font-size: 33px;
    color: #f00;
    width: 10px;
}

h5.titulo{
    color: #1B2631  ;
  
 
}

p.subtitulo{
    color: #4D5656   ;
}